<section class="skill_area" id="skill_area">
    <section class="container d-flex align-items-center">
        <div class="skills">
            <h2>Habilidades Técnicas</h2>
            <p>Clique nas tecnologias e confira meu XP</p>
            <div class="skills_tech">
                <img 
                    *ngFor="let skill of skills" 
                    [src]="skill.image" 
                    class="img-fluid skill_logo" 
                    alt="" 
                    (click)="updateXP(skill.xp);updateDescription(skill.description)">
            </div>
        </div>
        <div class="text-end photo">
            <img class="img-fluid person" src="assets/img/skills/php.png" alt="">
        </div>
    </section>
   
    <section class="progress_area">
        <span>XP</span>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100">
            <div 
                class="progress-bar progress-bar-striped progress-bar-animated" 
                [style.width]="xp + '%'">
            </div>
        </div>
    </section>
    <p #description id="description">

    </p>

</section>
