.skill_area{
    background-color: var(--primary-color);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h2{
        margin-top: 50px;
    }
    .skill_logo{
        width: 80%;
        height: 100%;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            transform: scale(1.1);
            transition: 0.3s;
            background-color: white;
        }
    }
    #description{
        font-size: 1.3rem;
    }
    .skills, .photo{
        flex: 1;
    }
    .skills_tech{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        align-items: center;
        justify-items: center;
    }
    .progress_area{
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        span{
            font-size: 1.4rem;
            font-weight: bold;
        }
        .progress{
            margin-left: 10px;
            width: 50%;
            border-radius: 0;
            height: 30px;
        }
    }
    
}

@media(max-width:500px){
    .skill_area{
        padding: 20px;
        height: auto !important;
        .container{
            flex-direction: column;
      
        }
    }
}