<section class="header_area position-relative">
    <section class="container d-flex align-items-center">
        <div>
            <h1>Dilson Campêlo</h1>
            <p>Desenvolvedor de Software</p>
            <a href="" class="btn btn-dark btn_default">Entre em contato</a>
        </div>
        <div class="text-end">
            <img class="img-fluid person" src="assets/img/me.png" alt="">
        </div>
    </section>

   
    <div class="floor"></div>

    <div class="position-absolute bottom-0 w-100 text-center mb-5">
        <img class="sit" src="assets/img/seta.png" alt="seta">
    </div>
</section>  
