<section class="about_area position-relative" id="about_area">
    <h2 class="title_section">Quem sou eu?</h2>
    <section class="container d-flex align-items-center gap-5">
        <div class="box_person">
            <img class="img-fluid person" src="assets/img/about.png" alt="dilson sobre mim">
        </div>
        <div class="about_me">
            <h3>Eu sou Dilson</h3>
            <p>Iniciei no mundo da informática por acaso, possivelmente um dos menos prováveis a obter habilidades nessa área entre todos os alunos do IFRN. Mas mergulhei de cabeça, e não me arrependo, talvez pelo fato de que não conseguia pensar em mais nada para seguir, por não apresentar aptidão ou talento para nada mais em que viesse a trabalhar. </p>
            <p>A lógica, a possibilidade de criar através dos códigos me encantava, parecia um quebra cabeça tão incrível, conectado que me fazia criar o que estava além de meus pensamentos. Dentre todos os que podiam seguir esse caminho, eu segui, me tornei tutor de programação, ensinando o que mais gostava e ajudando a tornar concreto ideias de quem também tinha aspiração. </p>
                
            <p>Entrei no mercado de trabalho, mesmo antes de finalizar o ensino médio no IF, logo em seguida comecei graduar Engenharia de Software, isso me mostrou que todos aqueles dias estudando fissurado durante a pandemia, fizeram valer e comprovaram que posso ir além, e assim espero, chegar bem mais longe, não como programador, desenvolvedor ou menino "dos computador", mas sim como um cara livre, cheio de ideias na qual pode se tornar possível, através de um pouco de lógica, um PC e criatividade.</p>
                
            <p>Então, quem sou eu? Meu nome é Dilson, e sou um criador de possibilidades. Um eterno aprendiz que transforma lógica em soluções, ideias em realidade e desafios em novas oportunidades. Eu sou um sonhador, cheio de coragem</p>
          
        </div>
     
    </section>

    <img class="circuit" id="first_circuit" src="assets/img/background/circuit.png" alt="">
    <img class="circuit" id="second_circuit" src="assets/img/background/circuit.png" alt="">
    

   
</section>  
