<section class="experience_area" id="experience_area">
    <div class="container d-flex flex-column justify-content-around">
        <h2 class="text-center title_section">Experiência</h2>
        <div class="row align-items-center experiences">
            <div class="col-4">
                <h3><i class="fa-solid fa-briefcase"></i> Empresas</h3>
                <div class="border-start border- pt-2 ps-4 ms-2">
                    <div class="position-relative ex-me mb-4" *ngFor="let experienceJob of experiencesJob">
                    
                        <i class="{{experienceJob.icon}}  position-absolute text-danger exp-left"></i>
                        <h5 class="fw-bold mb-1">{{experienceJob.title}}</h5>
                        <p class="mb-2">{{experienceJob.enterprise}}</p>
                        <p><small>{{experienceJob.start}} - {{experienceJob.end}}</small></p>
                        <p>
                           {{experienceJob.description}}
                        </p>
                    </div>
                 
                    
  
                </div>
            </div>
            <div class="col-4 text-center">
                <img class="rocket" src="assets/img/rocket.png" alt="foguete" [ngClass]="{ 'fly': isFlying }">
                <button type="button" class="mt-4 btn_default btn btn-light play_btn" (click)="launchRocket()">O céu não é o limite</button>
            </div>
            
            <div class="col-4">
                <h3 class="text-end"><i class="fa-solid fa-school"></i> Instituições</h3>
                <div class="border-end border-danger pt-2 pe-4 ms-2">
                    <div class="position-relative ex-me mb-4 text-end" *ngFor="let experienceAcademy of experiencesAcademy">
                    
                        <i class="{{experienceAcademy.icon}}  position-absolute  text-primary exp-right"></i>
                        <h5 class="fw-bold mb-1">{{experienceAcademy.title}}</h5>
                        <p class="mb-2">{{experienceAcademy.enterprise}}</p>
                        <p><small>{{experienceAcademy.start}} - {{experienceAcademy.end}}</small></p>
                        <p>
                           {{experienceAcademy.description}}
                        </p>
                    </div>
              
                    
  
                </div>
            </div>
        </div>
    </div>
    <img class="universe" src="/assets/img/background/universe.gif" alt="universo background">
</section>
